@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-slate-100 text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}