@import "tailwindcss";

:root {
  --background: #f1f5f9;
  /* slate-100 */
  --foreground: #0f172a;
  /* slate-900 */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.dark {
  --background: #020617;
  /* slate-950 */
  --foreground: #f1f5f9;
  /* slate-100 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  @apply transition-colors duration-300;
  margin: 0;
  min-height: 100vh;
}